<nav class=" navbar navbar-dark navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Node Events</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/events/allevents">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/create/">Add News</a>
        </li>
        <% } %>
      </ul>

      <!-- <nav class="navbar m-auto">
        <div class="container-fluid">
          <form action="/events/search" class="d-flex" role="search" >
            <input class="form-control me-2 bg-body-secondary" type="search" placeholder="Title" aria-label="Search" id="title" name="title">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav> -->

      <ul class="navbar-nav ms-auto">
        <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">Signup</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>